body{
    background: #34495E;
    margin: 0;
}

nav {
    background: #2C3E50;
    padding: 12px 20px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 20px;
}

#lg{
    width: 2%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-weight: 600;
    transition: color 0.3s, background 0.3s;
    border-radius: 5px;
    font-size: 25px;
}

#CONTACT{
    margin-left: 55%;
}

nav :hover{
    color: red;
}



.presentation{
    color: #48DBFB;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0px;
    font-size: 32px;
    margin-left: 7%;
}

#Tom {
    margin-top: 21%;
    font-size: 64px;
}

#logo {
    opacity:50%;
    margin-left: 57%;
    margin-top: -23%;
    z-index: 1;
}

.title{
    margin-top: 10%;
    font-size: 35px;
    color: #48DBFB;
    margin-left: 3%;
    margin-bottom: 3%;
    text-decoration: underline;
}

.text{
    font-size: 25px;
    color: #fff;
    margin-left: 3%;
}

.parcour{
    text-decoration: underline;
    margin-bottom: 3%;
    font-size: 25px;
    color: #48DBFB;
}

#PARCOUR{
    color: #fff;
    text-align: right;
    margin-right: 3%;
}

.metier{
    margin-bottom: 5%;
    font-size: 25px;
    margin-left: 3%;
}

.saut{
    margin-bottom: 20%;
    font-size: 25px;
    margin-left: 3%;
    color: #fff;
}