html {
    scroll-behavior: smooth;
}

body{
    background: #34495E;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background: #2C3E50;
    padding: 12px 20px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 20px;
}

#lg{
    width: 38px;
    position:absolute;
    top: 17px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-weight: 600;
    transition: color 0.3s, background 0.3s;
    border-radius: 5px;
    font-size: 25px;
    margin-left: 50px;
}

#CONTACT{
    text-align: right;
}

nav :hover{
    color: red;
}

.presentation{
    color: #48DBFB;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0px;
    font-size: 32px;
    margin-left: 7%;
}

#Tom {
    margin-top: 21%;
    font-size: 64px;
}

#logo {
    opacity:50%;
    margin-left: 57%;
    margin-top: -28%;
    z-index: 1;
    padding-top: 5%;
}

@media (max-width: 1440px) {
    #logo {
        margin-left: 50%;
    }
}


@media (max-width: 1024px) {
    #logo {
        display: none;
    }
}



.title{
    margin-top: 8%;
    font-size: 35px;
    color: #48DBFB;
    margin-left: 3%;
    margin-bottom: 3%;
    text-decoration: underline;
    padding-top: 5%;
}

.text{
    font-size: 25px;
    color: #fff;
    margin-left: 3%;
}

.parcour{
    text-decoration: underline;
    margin-bottom: 3%;
    font-size: 25px;
    color: #48DBFB;
}

#PARCOUR{
    color: #fff;
    text-align: right;
    margin-right: 3%;
}

.metier{
    margin-bottom: 5%;
    font-size: 25px;
    margin-left: 3%;
}

.saut{
    margin-bottom: 20%;
    font-size: 25px;
    margin-left: 3%;
    color: #fff;
}

.caseprojets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 88%;
    height: 550px;
    background: #2C3E50;
    margin-left: 3%;
    box-shadow: 0 8px 15px #212e3b;
    padding: 3%;
}

.projet{
    width: 85%;
    height: 550px;
    background: #D9D9D9;
    box-shadow: 0 8px 15px #212e3b;
}

#projet2{
    justify-self: center;
}

#projet3{
    justify-self: end;
}

.pro1{
    width: 94%;
    height: auto;
    margin-left: 3%;
    margin-top: 3%;
}

.texteprojet{
    font-size: 20px;
    margin-left: 3%;
    margin-top: 3%;
    color: #000;
}
