html {
    scroll-behavior: smooth;
}

body{
    background: #34495E;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background: #2C3E50;
    padding: 12px 20px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 20px;
}

#lg{
    width: 38px;
    position:absolute;
    top: 17px;
}

#menu{
    display: flex;
    flex-direction: row;

}

#menu a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-weight: 600;
    transition: color 0.3s, background 0.3s;
    border-radius: 50px;
    font-size: 25px;
    margin-left: 50px;
}

#CV{
    background-color: #223343;
}

#menu :hover{
    color: red;
}

#menu a.active {
    background: #48DBFB;
    color: #2C3E50;
}

@media screen and (max-width: 1509px) {
  #lg {
    display: block;
  }
 
  nav{
    min-height: 52px;
  }

  #menu {
    display: none;
    flex-direction: column;
  }
 
  #menu.show {
    margin-left: 40px;
    display: flex;
  }
 
  #menu a {
    margin: 10px 0;
    display: block;
  }
}
 
@media screen and (min-width: 1510px) {
 
  #menu {
    display: flex !important;
    flex-direction: row;
  }
}

.presentation{
    color: #48DBFB;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0px;
    font-size: 32px;
    margin-left: 7%;
}

#Tom {
    padding-top:21% ;
    font-size: 64px;
}

#logo {
    opacity:50%;
    margin-left: 57%;
    margin-top: -28%;
    z-index: 1;
    padding-top: 5%;
}

@media (max-width: 1666px) {
    #logo {
        margin-left: 50%;
        width: 50%;
    }
}

@media (max-width: 1440px) {
    #logo {
        margin-left: 50%;
    }
}


@media (max-width: 1024px) {
    #logo {
        display: none;
    }
}



.title{
    margin-top: 8%;
    font-size: 35px;
    color: #48DBFB;
    margin-left: 3%;
    margin-bottom: 3%;
    text-decoration: underline;
    padding-top: 5%;
}

.text{
    font-size: 25px;
    color: #fff;
    margin-left: 3%;
}

.parcour{
    text-decoration: underline;
    margin-bottom: 3%;
    font-size: 25px;
    color: #48DBFB;
}

#PARCOUR{
    color: #fff;
    text-align: right;
    margin-right: 3%;
}

.metier{
    margin-bottom: 5%;
    font-size: 25px;
    margin-left: 3%;
}

.saut{
    margin-bottom: 20%;
    font-size: 25px;
    margin-left: 3%;
    color: #fff;
}

.caseprojets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 88%;
    height: 550px;
    background: #2C3E50;
    margin-left: 3%;
    box-shadow: 0 8px 15px #212e3b;
    padding: 3%;
    overflow-x: auto;
}
@media (max-width: 1200px) {
    .projet { 
        min-width: 200px;
        margin: 0 10px;
    }
}

.projet {
    width: 85%;
    height: 550px;
    box-shadow: rgb(33, 46, 59) 0px 8px 15px;
    overflow-x: auto;
    background: rgb(33, 46, 59);
}

#mesprojets{
    margin-top: 8%;
    font-size: 35px;
    color: #48DBFB;
    margin-left: 3%;
    margin-bottom: 3%;
    text-decoration: underline;
    text-align: center;
    padding-top: 5%;
}

#projet2{
    justify-self: center;
}

#projet3{
    justify-self: end;
}

.pro1 {
    width: 94%;
    height: auto;
    margin-left: 3%;
    margin-top: 3%;
}

.texteprojet {
    font-size: 20px;
    margin-left: 3%;
    margin-top: 3%;
    color: rgb(72, 219, 251);
}

#casecontact{
    height: 1400px;
    width: 100%;
    text-align: center;
    box-shadow: inset 0 0 30px #212e3b;
    margin:8% 0 0 0
}

#Numéro{
    justify-self: center;
    width: 40%;
    padding: 3%;
    background-color: #2C3E50;
    box-shadow: 0 0 20px #212e3b;
    overflow-x: auto;
    margin: 0 27vw;
}

.content{
    margin:70px auto;
    width: 50%;
    height: 10%;
    padding: 20px;
    background: #2C3E50;
    border-radius: 20px;
    box-shadow: 0 0 20px #212e3b;
    align-items: center;
    text-align: center;
    color: #00d9ff;
}
.form-group label{
    display: block;
    margin-bottom: 20px;
    overflow-x: auto;
}
.form-group{
    margin:40px auto;
    width: 50%;
    height: 10%;
    padding: 20px;
    background: #2C3E50;
    border-radius: 20px;
    box-shadow: 0 0 20px #212e3b;
    align-items: center;
    color: #00d9ff;
    border: 2px solid #00d9ff;
}

.formulaire{
    margin:40px auto;
    width: 50%;
    height: 10%;
    padding: 20px;
    background: #2C3E50;
    border-radius: 20px;
    box-shadow: 0 0 20px #212e3b;
    align-items: center;
    color: #00d9ff;
    border: 2px solid #00d9ff;
    overflow-x: auto;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 15px;
    background: #2C3E50;
    border: 2px solid #00d9ff;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #212e3b;
    box-sizing: border-box;
}

button{
    margin-left: 60%;
    width: 30%;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid #00d9ff;
    background: #2C3E50;
    color: #00d9ff;
    box-sizing: border-box;
    overflow: auto;
}








/* CV Image */
#imgcv{
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 20px #212e3b;
}

#downloadcv{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    text-align: center;
    padding: 15px;
    background-color: #2C3E50;
    color: #00d9ff;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 0 20px #212e3b;
    font-size: 20px;
}


/* Projet1 Images */
.iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.texte-pages-projet {
    color: #00d9ff;
    font-size: 20px;
    text-align: center;
    margin: 5% 5% 0;
    background-color: #223343;
    border-radius: 50px;
    padding: 15px;
}

.texte-pages-projet2 {
    color: #00d9ff;
    width: fit-content;
    font-size: 20px;
    justify-self: center;
    text-align: center;
    background-color: #223343;
    border-radius: 50px;
    padding: 15px;
}

/* Projet2 Images */
#imgprojet2{
    width: 23%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 20px #212e3b;
}

#code-projet{
    color: #00d9ff;
    width: fit-content;
    justify-self: center;
    background-color: #223343;
    border-radius: 50px;
    padding: 15px;
    overflow-x: auto;
}

pre {
  /* 1. Active le scroll horizontal (le slide) */
  overflow-x: auto; 
  
  /* 2. Empêche le bloc de dépasser la largeur de l'écran (mobile) */
  max-width: 75%;
  
  /* 3. Force le code à rester sur une seule ligne (pas de retour à la ligne automatique) */
  white-space: pre; 
  
  /* 4. Pour un défilement fluide sur mobile (iOS) */
  -webkit-overflow-scrolling: touch;
}

#btn-retour{
    margin-left: 45%;
    margin-top: 5%;
    width: 10%;
}